<div class="nav-content">
    <div class="map">
        <div class="module-icon">
            <div class="box1" (click)="go(1)">
                <img src="../../../assets/img/m1.png" (mouseenter)="onMouseEnter($event, 1)" (mouseleave)="onMouseLeave($event, 1)">
            </div>
            <div class="box2" (click)="go(2)">
                <img src="../../../assets/img/m2.png" (mouseenter)="onMouseEnter($event, 2)" (mouseleave)="onMouseLeave($event, 2)">
            </div>
            <div class="box2" (click)="go(3)">
                <img src="../../../assets/img/m3.png" (mouseenter)="onMouseEnter($event, 3)" (mouseleave)="onMouseLeave($event, 3)">
            </div>

            <div class="box2" (click)="go(4)">
                <img src="../../../assets/img/m4.png" (mouseenter)="onMouseEnter($event, 4)" (mouseleave)="onMouseLeave($event, 4)">
            </div>
            <div class="box1" (click)="go(5)">
                <img src="../../../assets/img/m5.png" (mouseenter)="onMouseEnter($event, 5)" (mouseleave)="onMouseLeave($event, 5)">
            </div>
            <div class="box1" (click)="go(6)">
                <img src="../../../assets/img/m6.png" (mouseenter)="onMouseEnter($event, 6)" (mouseleave)="onMouseLeave($event, 6)">
            </div>
            <div class="box1" (click)="go(7)">
                <img src="../../../assets/img/m7.png" (mouseenter)="onMouseEnter($event, 7)" (mouseleave)="onMouseLeave($event, 7)">
            </div>

        </div>

        <div class="copyright">Copyright(C) FiberHome 2016. All rights reserved.</div>
    </div>

</div>
