//中英文图片资源文件地址
$img_folder: cn;

$min-width: 1400px;

$cIconFont: #00AAE8; // 按钮图标字体颜色

$main_color: #DEE5EB;

$cIconfont: #4188C6;

$sIconfont: 18px;

$inputHeight: 32px; //输入框高度

$cBorder: #deefea; //边框颜色

$cFont: #8899aa; //字体颜色

@mixin h_center {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

@font-face {
    font-family: "iconfont";
    src: url('font/iconfont.eot?t=1462282079'); /* IE9*/
    src: url('font/iconfont.eot?t=1462282079#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('font/iconfont.woff?t=1462282079') format('woff'), /* chrome, firefox */
    url('font/iconfont.ttf?t=1462282079') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('font/iconfont.svg?t=1462282079#iconfont') format('svg'); /* iOS 4.1- */
}

/deep/ .iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes f-bounceDown {
    0% {
        opacity: 0.2;
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px)
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@mixin v_center {
    display: inline-block;
    position: absolute;
    top: 0;
    line-height: $date_height;
}

$date_height: 30px;
.f-datepicker {
    position: relative;
    height: $date_height;
    font-size: 13px;
    margin-right: 100px;
    .btn {
        padding: 4px 12px;
        color: #8899aa;
        &:focus {
            outline: none;
        }

    }

    .placeholder {
        display: inline-block;
        height: 100%;
        min-width: 250px;
        width: calc(100% - 450px);
        position: relative;
        &.rela {
            width: calc(100% - 550px);
        }
    }

    .div-change {
        height: 100%;
        color: #8899aa;
        display: inline-block;

        &.rela {
            top: -11px;
            position: relative;
        }
    }
    .date-type {
        position: relative;
        width: 200px;
        display: inline-block;
        height: 30px;
        right: 0;
        z-index: 2;
        float: right;
        > span {
            display: inline-block;
            width: 24px;
            height: 24px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            line-height: 24px;
            text-align: center;
            font-size: 10px;
            color: #fff;
            cursor: pointer;
        }

        .btn-hour {
            background-image: url("../img/#{$img_folder}/hour_1.png");
            left: -34px;
            &.checked {
                background-image: url("../img/#{$img_folder}/hour_2.png");
                font-size: 14px;
            }
        }

        .btn-day {
            background-image: url("../img/#{$img_folder}/day_1.png");
            left: 0;
            &.checked {
                background-image: url("../img/#{$img_folder}/day_2.png");
                font-size: 14px;
            }
        }

        .btn-week {
            background-image: url("../img/#{$img_folder}/week_1.png");
            left: 34px;
            &.checked {
                background-image: url("../img/#{$img_folder}/week_2.png");
                font-size: 14px;
            }
        }

        .btn-month {
            background-image: url("../img/#{$img_folder}/month_1.png");
            left: 68px;
            &.checked {
                background-image: url("../img/#{$img_folder}/month_2.png");
                font-size: 14px;
            }
        }

        .btn-customer {
            width: 60px;
            left: 100px;
            border-radius: 5px;
            font-size: 14px;
            color: #8899aa;
            height: 24px;
            &:hover {
                background-color: rgba(183, 223, 232, 0.2);
            }
            &.checked {
                background-color: rgba(183, 223, 232, 0.4);
            }
        }
    }
    .input-hour .k-datetimepicker {
        width: 210px;
    }
    .date-group {
        .btn {
            border-radius: 2px;
            float: left;
        }

        i.date-icon {
            color: #32A027;
            font-size: 16px;
            line-height: 10px;
            top: 2px;
            position: relative;
        }

        .date-num {
            padding-left: 5px;;
        }

    }

}

.norecords {
    position: relative;
    top: calc(50% - 8px);
    color: #B9B5B5;
}

//导出按钮样式
$export: 18px;

.f-export-content {
    height: $export;
    display: inline-block;
    width: $export;
    position: relative;
    .f-export {
        display: inline-block;
        position: absolute;
        top: 0;
        img {
            height: $export;
            width: $export;
        }
        i {
            color: #4188C6;
            font-size: $export;
            cursor: pointer;

        }
    }
    .f-popup-content {
        width: 50px;
        ul {
            margin-bottom: 0;
            li {
                list-style-type: none;
                text-align: center;
                border-bottom: 1px solid #eee;
                color: #8899aa;
                font-size: 14px;
                line-height: 26px;
                &:hover {
                    cursor: pointer;
                    background: #DEEFEA;
                }
            }
        }

    }
}

.red {
    color: #FF0000;
}

.yellow {
    color: #FDD025;
}

.disable {
    i {
        cursor: not-allowed !important;
        color: gray !important;
    }
    .badge {
        cursor: not-allowed !important;
        background-color: gray !important;
    }
}

a:focus {
    outline: none;
}

//文件上传按钮样式
.upload-botton {
    position: relative;
    display: inline-block;
    background: $cIconFont;
    border: 1px solid $cIconFont;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}

.upload-botton input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.upload-botton:hover {
    background: #4188C6;
    border-color: #4188C6;
    color: white;
    text-decoration: none;
}

.upload-botton:focus {
    text-decoration: none;
    color: white;
}

//趋势对比按钮
.compare-btn {
    font-size: $sIconfont;
    color: $cIconfont;
    text-align: center;
    cursor: pointer;
    .badge {
        background-color: $cIconfont;
        font-size: 12px !important;
        position: relative;
        top: -2px;
        font-weight: normal;
    }
}

.droplist {
    width: 203px;
    span.k-dropdown {
        border: 1px solid #ccc;
        width: 203px;
        .k-dropdown-wrap {
            height: 30px;
            .k-input, .k-select {
                line-height: 30px;
                height: 30px;
                padding: 0;
            }
        }
    }
}

.compareChartExportBtn {
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 2;
    font-size: 13px;
}

/* 树控件样式 */
[f-topo-tree] {
    flex: 1;
    width: 100%;
    height: 100%;
    border-right: 1px solid $main_color;
    margin-right: 4px;
    position: relative;
    padding: 90px 0 5px;
    .f-tree {
        .warp {
            top: 0;
            position: absolute;
            width: 100%;
            height: 90px;
            .icon-btn {
                margin: 20px 10px;
                > span {
                    margin-left: 5px;
                    font-weight: bold;
                    color: #314159;
                    font-size: 14px;
                }
                .btn {
                    float: right;
                    height: 22px;
                    line-height: 22px;
                    padding: 0 12px;
                    font-size: 12px;
                    color: #314159;
                }
                i {
                    font-size: 16px;
                    color: #314159;
                }
            }
            .search {
                @include h_center;
                width: 96%;
                top: 45px;
                margin: 5px auto;
                border: 2px solid $main_color;
                border-radius: 3px;
                input {
                    width: 100%;
                    outline: none;
                    border: none;
                    padding: 0 5px;
                    height: 25px;
                    font-size: 10px;
                }

                i {
                    position: absolute;
                    top: 2px;
                    right: 10px;
                    color: #ccc;
                    cursor: pointer;
                }
            }
        }

        .tree {
            height: calc(100% - 95px);
            width: 96%;
            @include h_center;
            overflow: auto;
        }
    }
}

//多选框样式
.multi-select {
    height: $inputHeight;
    border-radius: 1px;
    border: solid 1px $cBorder;
    background: white;
    color: $cFont;
    &:hover {
        box-shadow: 0 2px 6px rgba(0, 0, 0, .2), 0 2px 3px rgba(0, 0, 0, .05);
    }
    span.multiselect-selected-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        padding: 0 45px 0 15px;
        display: inline-block;
        line-height: $inputHeight;
    }
    .caret {
        position: absolute;
        top: 14px;
        right: 14px;
        color: #444;
        border-top: 5px dashed;
        border-top: 4px solid \9
    ;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
    }
}

.dropdown-menu > .active > a {
    color: #3f51b5;
    background: #EBEBEB;
    &:hover {
        color: #3f51b5;
        background: #EBEBEB;
    }
    &:focus {
        outline: none;
    }
}

.dropdown-menu > li > a {
    &:hover {
        background: #EBEBEB;
    }
    &:focus {
        outline: none;
    }
}

.multiselect-container {
    width: 100%;
    border-color: #ebebeb;
    & > li > a > label {
        padding: 6px 20px 6px 40px;
    }
}

.btn-group.open .dropdown-toggle {
}

.btn-group {
    height: $inputHeight;
}

.dropdown-menu {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .3);
}
