<!-- ng-translate在指令中使用 -->
<div [translate]="'i18n.hello'"></div>
<!-- ng-translate在管道中使用 -->
<div>{{"i18n.test"|translate|json}}</div>
<hr/>
<!-- 直接使用父类i18n属性-->
<div>{{i18n|json}}</div>
<hr/>

<!-- Angular官方国际化使用 -->
<div i18n="online user title">Demo: Angular官方国际化使用-在线用户</div>

<!-- Angular集成Kendo for jQuery -->
<kendo-fiberhome-chart chartId="onlineUserChart" [options]="onlineUserChartOption"
                       (chart)="afterOnlineUserChartInit($event)"></kendo-fiberhome-chart>

<kendo-fiberhome-chart chartId="sysUserChart" [options]="sysUserChartOption"
                       (chart)="afterSysUserChartInit($event)"></kendo-fiberhome-chart>
