<div class="pon-head" fhI18nStyle [ngClass]="{'is-absolute': options.isAbsolute}">
    <div class="logo">
        <div class="main" *ngIf="options.mNo === 0"></div>

        <a class="t1" href="/index" target="pon_index" *ngIf="options.mNo === 1"></a>

        <a class="t2" href="/index" target="pon_index" *ngIf="options.mNo === 2"></a>

        <a class="t3" href="/index" target="pon_index" *ngIf="options.mNo === 3"></a>

        <a class="t4" href="/index" target="pon_index" *ngIf="options.mNo === 4"></a>

        <a class="t5" href="/index" target="pon_index" *ngIf="options.mNo === 5"></a>

        <a class="t6" href="/index" target="pon_index" *ngIf="options.mNo === 6"></a>

        <a class="t7" href="/index" target="pon_index" *ngIf="options.mNo === 7"></a>

        <a class="t8" href="/index" target="pon_index" *ngIf="options.mNo === 8"></a>

    </div>

    <ul *ngIf="options.menu">
        <li *ngFor="let item of options.menu" routerLinkActive="active">
            <a [routerLink]="item.routerLink">{{item.name}}</a>
        </li>
    </ul>

    <span *ngIf="options.isIndex" class="map_focus">
        <span class="bkg" [ngClass]="{'active': isFocus}"></span>
        <span class="content">
            <span><a routerLink="navigate" (click)="isFocus = false;">{{"i18n.index.map"|translate}}</a></span>
            <span><a routerLink="focus" (click)="isFocus = true;">{{"i18n.index.focus"|translate}}</a></span>
        </span>
    </span>

</div>
