#login {
    background-image: url("../../../assets/img/login.jpg");
    background-size: cover;
    #login-div {
        width: 663px;
        height: 382px;
        background-size: cover;
    }
}

/* 中文样式 */
#login.zh-CN {
    #login-div {
        background-image: url("../../../assets/img/zh-CN/logindiv.png");
    }
}

/* 英文样式 */
#login.en-US {
    #login-div {
        background-image: url("../../../assets/img/en-US/logindiv.png");
    }
}
